# 忽略整个数据文件夹
data/
# 忽略所有生成的草图和中间结果
scripts_generation/test_sketch

# 忽略所有模型权重文件 (不管在哪)
*.pth

logs/

*.txt
!requirements.txt
__pycache__/
# === 1. 忽略数据 ===
data/QuickDraw414k/
data/generated_results/
*.npy
*.png

# === 2. 忽略模型权重 ===
checkpoints/
*.pth
*.pt

# === 3. 忽略系统垃圾和缓存 ===
__pycache__/
*.pyc
.DS_Store
Thumbs.db
.vscode/
.idea/
venv/

# === 4. 忽略日志 ===
logs/
*.log
